{% load static %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Sipena</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

{% block content %}

{% endblock content %}

<footer class="bg-primary text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="fluid p-5">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Tentang Kami</h5>

        <p>
          Sipena merupakan aplikasi gratis untuk ASN/Pegawai dalam mengelola data anggota dengan mudah
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Company</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="{% url 'index' %}" class="text-white">About</a>
          </li>
          <li>
            <a href="{% url 'blog' %}" class="text-white">Blog</a>
          </li>
          <li>
            <a href="{% url 'contact' %}" class="text-white">Contact</a>
          </li>
          <li>
            <a href="#!" class="text-white">Privacy</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Service</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Bootstrap</a>
          </li>
          <li>
            <a href="#!" class="text-white">Term Of Service</a>
          </li>
          <li>
            <a href="#!" class="text-white">Sitemap</a>
          </li>
          <li>
            <a href="#!" class="text-white">Privacy and Security</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>